<% layout("layouts/boilerplate.ejs")  %>

<body>
    <h1>Edit Listing</h1>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br>
        <textarea name="listing[description]" placeholder="Enter description"><%= listing.description %></textarea>
        <br>
        <input type="text" name="listing[image[url]]" value="<%= listing.image.url %>">
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>">
        <br>
        <input type="text" name="listing[location]" value="<%= listing.location %>">
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>">
        <br>
        <button>Submit</button>
        <br>

    </form>
</body>
