<% layout("layouts/boilerplate.ejs") %>

  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="mt-3">Edit Listing</h1>
      <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" class="form-control" placeholder="Enter Title" required
            value="<%= listing.title %>">
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Enter a valid title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Desciption</label>
          <textarea name="listing[description]" class="form-control" required
            placeholder="Enter description"><%= listing.description %></textarea>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Enter a short description</div>

        </div>

        <div class="mb-3">
          <label class="form-label">Original Image</label><br>
          <img src="<%= originalImageUrl %>" height="300px" >
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" name="listing[image]" class="form-control">
            <div class="valid-feedback">Looks Good!</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" min="0" required
              value="<%= listing.price %>">
              <div class="valid-feedback">Looks Good!</div>
              <div class="invalid-feedback">Enter a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required
              value="<%= listing.country %>">
              <div class="valid-feedback">Looks Good!</div>
              <div class="invalid-feedback">Enter a valid country</div>
          </div>
        </div>

        <div class="mb-4">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" required
            value="<%= listing.location %>">
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Enter a valid location</div>
        </div>

        <div class="mb-3">
          <button class="btn btn-dark add-btn">Save</button>
        </div>
      </form>
    </div>
  </div>