<% layout("layouts/boilerplate.ejs") %>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="mt-3">Listing Details</h3>
    </div>

    <div class="card col-6 offset-2">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Image">

      <div class="card-body">
        <p class="card-text">
          <h5>
            <%= listing.title %>
          </h5>
          <%= listing.description %> <br><br>
            &#8377;<%= listing.price.toLocaleString("en-IN") %>/night <br>
              <%= listing.location %>,
                <%= listing.country %>
        </p>
      </div>
      <div class="btns mt-2">
        <form action="/listings/edit/<%= listing._id %>" method="get"><button class="btn btn-dark offset-2 add-btn">Edit</button></form>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post"><button class="btn btn-dark offset-4">Delete</button></form>
      </div>
    </div>
  </div>